# Python
__pycache__/
*.pyc
*.pyo

#VSCode

.vscode/

# Virtual environments
.venv/

# YOLO runs and weights
runs/
weights/
*.pt

# Datasets
detection/data/images
detection/data/labels
classification/data/

# Images or cache
*.jpg
*.png
*.cache